
.signupPanel {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid rgba(246, 227, 247, 0.13);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    max-width: 450px;
    max-height: 500px;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.group {
    align-items: center;
    margin-bottom: 15px;
    margin-right: 20%;
}

.group label {

    font-size: 16px;
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

.group input {
    background-color: rgba(255, 255, 255, 0.295);
    flex-grow: 1;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 4px;
}

.signupButton:hover {
    transform: scale(1.05);
}


.signupButton {
    width: 70%;
    align-self: center;
    padding: 10px;
    background-image: url("/public/backround.jpg");
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: 0px solid ;
    margin: 5px;
}

.signupText {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.AlreadyGotAccMsg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: black;
    opacity: 50%;
}

.cancel{
    opacity: 50%;
    align-self: center;
    text-decoration: none;
}