.BasketPage {
    margin-top: 5%;
    justify-content: center;
    display: flex;
}

.Basket-Panel {
    height: 800px;
    width: 1500px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
}

.Basket-Game-Grid {
    box-shadow: 10px 10px 10px 1px rgba(126, 75, 96, 0.25);
    scrollbar-color: #7d7d7dbf #ffffff00;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 75%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}

.Empty-cart-text{
    opacity: 50%;
    align-self: center;
    margin-top: 35%;
    cursor: default;
}

.Basket-Item {
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
}

.Basket-Item-Details {
    margin-left: 5%;
}

.Basket-Item-Details-Info {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    color: black;
}

.basket-quantity{
    margin-top: 20px;
}

.quantity-input {
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    text-align: center;
    margin-left: 5px;
    width: 40px;
    height: 20px;
}

.total-price{
    display: flex;
    flex-direction:row;
}

.total-price-price{
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    color: green;
}

.Basket-Item-coverImage {
    flex-shrink: 0;

    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 5px, transparent 5px) 0% 0%/10px 10px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 5px, transparent 5px) 100% 0%/10px 10px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 5px, transparent 5px) 0% 100%/10px 10px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 5px, transparent 5px) 100% 100%/10px 10px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 20px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 10px) no-repeat,
        linear-gradient(120deg, rgba(255, 105, 167, 1) 0%, rgba(48, 145, 255, 1) 100%);
    border-radius: 5px;
    padding: 9px;
    box-sizing: border-box;
    display: flex;
    max-height: 150px;
    width: 150px;
    object-fit: contain;
    justify-self: center;
}

.Basket-Functions-Grid {
    box-shadow: 10px 10px 10px 1px rgba(69, 112, 160, 0.25);
    border-radius: 10px;
    width: 500px;
    background: #ffa1ca;
    background: radial-gradient(circle, rgba(255, 161, 202, 1) 0%, rgba(102, 173, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.Total-Text{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.Basket-remove-button {
    margin-left: 20px;
    align-self: center;
    height: 15px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    opacity: 50%;
    transform: scale(1.5);
}

.Basket-remove-button:hover {
    transform: scale(1.6);
    opacity: 100%;
}

.Basket-remove-button:active {
    transform: scale(1.4);
}

.checkout-button {
    cursor: pointer;
    display: flex;
    gap: 10px;
    border-radius: 5px;
    border: 0;
    padding: 10px 100px;
    background-color: rgb(40, 40, 255);
    color: white;
}

.checkout-button:hover {
    transform: scale(1.025);
    opacity: 100%;
}

.checkout-button:active {
    transform: scale(0.975);
}

.checkout-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.Checkout-icon {
    transform: scale(1.5);
}

.error {
    position: absolute;
    top: 25%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%) scale(2);
}

.grand-total{
    font-weight: bold
}


.Pop-up {
    position: absolute;
    top: 650px;
    background-color: grey;
    width: 300px;
    height: 110px
}

.Pop-header {
    position: absolute;
    left:30px;
}
.Pop-buttons {
    position: absolute;
    top: 65px;
    left: 65px;
    display: flex;
    align-self: center;
    gap: 60px;
    transform:scale(1.5);
}
