.AdminPanel {
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 10px;
    margin-bottom: 50px;
}

.AllAnalytics-grid {
    display: flex;
    gap: 5px;

}

.AdminPanel-grid {
    gap: 20px;
    display: flex;
    border-radius: 10px;
    padding: 5px;
}

.Analytics-title {
    text-align: center;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    position: relative;
    text-align: center;
    align-self: center;
}

.Analytics-panel {
    border-radius: 10px;
    padding: 0px 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-top: 50px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);

}

.Sales-grid {
    gap: 10px;
    display: flex;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.Sales-panel {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.00);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.Sales-title {
    padding: 10px;
    font-weight: bold;
    position: relative;
    text-align: center;
    align-self: center;
    border-bottom: 1px solid black;
}

.Income {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    font-weight: bold;
    margin-top: 10px;
    padding: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-right: 2px solid black;
}

.Incometxt {
    font-weight: bold;
    display: flex;
}

.money {
    font-weight: bold;
    color: green;
    display: flex;
}

.amount {
    font-weight: bold;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

.TotalAnalytics-panel {
    border-radius: 10px;
    padding: 0px 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
}

.TotalAnalytics-title {
    text-align: center;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 15px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    position: relative;
    text-align: center;
    align-self: center;
}

.TotalAnalytics-grid {
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.NewGameForm-panel {
    border-radius: 10px;
    padding: 0px 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
}

.NewGameForm-title {
    text-align: center;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    position: relative;
    text-align: center;
    align-self: center;
}

.NewGameForm-info-grid {
    gap: 30px;
    display: flex;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.ImageInsert-button {
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-info {
    width: auto;
    height: 100%;
    object-fit: cover;
}


.image-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.info-grid {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.info-input {
    width: 200px;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    font-size: 16px;
    border-radius: 4px;
    height: 30px;
}

.Button-grid-info {
    display: grid;
    align-items: center;
    gap: 0;
    margin-bottom: 15px;
    margin-left: 50px;
}

.button-info {
    margin-left: 20px;
    align-self: center;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
}

.button-info:hover {
    transform: scale(1.1);
}

.button-info:active {
    transform: scale(0.9);
}

.buttonicon {
    transform: scale(1.5);
}

.NewGameInfo-description {
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    text-align: center;
}

.NewGameInfo-descr-title {
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 100px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    text-align: center;
}

.NewGameInfo-descr-input {
    margin-top: 10px;
    height: 400px;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    font-size: 16px;
    border-radius: 5px;
    resize: none;
}

.EditExistingProducts-panel {
    border-radius: 10px;
    padding: 0px 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);

}

.EditExistingProducts-title {
    text-align: center;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    position: relative;
    text-align: center;
    align-self: center;
}

.EditExistingProducts-gamelist {
    margin-left: 10%;
    padding-top: 10px;
    width: 80%; 
}