.game-panel-container {
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    width: 250px;
    cursor: pointer;
}

.game-panel-link{
    text-decoration: none;
    color: inherit;
}

.game-panel-image{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.game-panel-info{
    text-decoration: none;
    color: inherit;
}

.game-panel-title{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin: 0 0 5px 0;
}

.game-panel-price{
    color: green;
    font-weight: bold;
}

.game-panel-platform{
    font-size: 0.8em;
    color: gray;
}