.Body {
  overflow-y:auto;
  padding-top: 140px;
  padding-bottom: 0;
  flex-grow: 1;
  background-image: url('../public/backround.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  background-color: rgb(242, 241, 252);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
