.ComboBox {
    position: relative;
    top: -21px;
    left: 21px;
    width: 0%;
    gap: 0px;
}

.ComboBoxStyle {
    display: flex;
    background-Color: #e6e3e8;
    border-block: 3.5px;
    border-style: solid;
    border-color: #7077dc;
    color: black;
    text-Align: left;
    gap: 10px;
    z-index: 1000;
}