.ComboBox {
    margin-left: 20px;
    width: 100%;
}

.ComboBoxStyle {
    display: flex;
    background-Color: #e6e3e8;
    border: 3px solid #7077dc;
    border-radius: 10px;
    color: black;
    text-Align: left;
    gap: 10px;
    z-index: 1000;
    padding: 5px 5px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}