.Footer{
    background: #8b9ce8;
    background: linear-gradient(180deg, rgba(139, 156, 232, 1) 9%, rgba(102, 115, 209, 1) 100%);
    color: #272550ff;
    border-top: 4px solid #7077dc;
    height: auto;
    margin: 0px;
    padding: 0px 0px;
    display: flex;
    text-align: left;
    width: 100%;
}

.TextBox{
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    padding: 0px 10px;
}