.ItemTabStyle {
    display: flex;
    background-Color: #7077dc;
    color: white;
    text-Align: left;
    gap: 10px;
    z-index: 1000;
    margin-top: -50px
}


.CategoryStyle {
    padding: 3px 10px;
    cursor: pointer;
    margin: 0px;
    position:relative;
}

.CategoryStyle2 {
    padding: 3px 10px;
    cursor: pointer;
    margin: 0px;
}

.CategoryStyle2:hover{
    border: 1px groove  black;
}

.CategoryStyle2:active{
    transform: scale(1.05);
}


.BoxStyle {
    position: absolute;
    background-Color: #BBC4EB;
}
