.itemTab{
    position: fixed;
    top: 119px;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #333; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ItemTabStyle {
    display: flex;
    background-Color: #7077dc;
    color: white;
    text-Align: left;
    align-items: center;
    height: 40px;
    z-index:1000;
}

.category{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.CategoryStyle {
    padding: 0 15px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.CategoryStyle:hover{
     background-Color: #5358a6;

}

.BoxStyle {
    position: absolute;
    top: 100%;
    left: 0;
    background-Color: #BBC4EB;
    min-width: 150px;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.CategoryStyle2 {
    padding: 5px 12px;
    cursor: pointer;
    color: #1e083a;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.CategoryStyle2:hover {
    transform: scale(1.05);
    background-color: #abb4d9;
    transition: all 0.2s;
 }

 .searchBar{
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

input[type=text] {
    border: none;
    outline: none;
    padding: 5px 30px;
    margin: 5px;
}

.SearchButton {
    cursor: pointer;
    font-size: 21px;
    padding: 2px;
}

.SearchButton:hover {
    color: black;
    transform: scale(1.1);
}

.SerchBox{
    border-radius: 20px;
}